
<h1 class="red-text">Welcome</h1>
<p>Welcome to Scribble Stories</p>
<p>Share stories about the best and worst times of your life with world or keep them completely private in your own online diary.</p>
<p><small>version 1.0.0</small></p>
{{#if user}}
{{else}}
<a class="btn waves-effect waves-dard red darken-1 " href="/auth/google"><i class="fab fa-google left"></i> Login in with Google</a>
{{/if}}
